/* COMMON */
html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3.7rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.main-wrapper{
    color: var(--ms_std-white);
    font-size: 2rem;
    font-weight: 600;
}

.ms_container-small {
    width: 70%;
    margin: 0 auto;
}

.ms_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Star-slicer */
/* Star-slicer light color */
.ms_star-slicer-light i {
    font-size: 3rem;

    color:var(--ms_std-white)
} 

.ms_star-slicer-light::before {
    content: "";
    display: inline-block;

    width: 15%;
    height: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    border-radius: 10px;

    background-color: var(--ms_std-white);
}

.ms_star-slicer-light::after {
    content: "";
    display: inline-block;

    width: 15%;
    height: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    border-radius: 10px;

    background-color: var(--ms_std-white);
}

/* Star-slicer dark color */
.ms_star-slicer-dark i {
    font-size: 3rem;

    color:var(--ms_primary-color)
} 

.ms_star-slicer-dark::before {
    content: "";
    display: inline-block;

    width: 15%;
    height: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    border-radius: 10px;

    background-color: var(--ms_primary-color);
}

.ms_star-slicer-dark::after {
    content: "";
    display: inline-block;

    width: 15%;
    height: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    border-radius: 10px;

    background-color: var(--ms_primary-color);
}

/* UTILITIES */
.ms_color-primary {
    color: var(--ms_primary-color);
}

.ms_color-secondary {
    color: var(--ms_secondary-color);
}

.ms_color-std-white {
    color: var(--ms_std-white)
}

.ms_bkg-primary {
    background-color: var(--ms_primary-color);
}

.ms_bkg-secondary {
    background-color: var(--ms_secondary-color);
}

.ms_bkg-std-white {
    background-color: var(--ms_std-white)
}

/* VARIABLES */
:root {
    /* Spaces and Dimensions; */
    --header-height: 8rem;

    /* Colors */
    --ms_primary-color: #2c3e50;
    --ms_secondary-color: #1abc9c;
    --ms_std-white: #ffffff;
    --ms_bkg-color: #3a546d;
}

/* HEADER */
header {
    height: var(--header-height);
    line-height: var(--header-height);

    background-color: var(--ms_primary-color);
    color: var(--ms_std-white);
    
    /* DEBUG */
    border: 1px solid black;
}

/* Jumbotron section */
.jumbotron {
    background-color: var(--ms_secondary-color);
}

.jumbotron img {
    width: 250px;
}

/* Portfolio section */
.portfolio {
    color: var(--ms_primary-color);
}

.portfolio img {
    border-radius: 10px;
}

/* About section */
.about {
    background-color: var(--ms_secondary-color);
}

/* Contact Me section */
.contact-me {
    color: var(--ms_primary-color);
}

.contact-me form label,
.contact-me form input {
    display: inline-block;
} 

/* FOOTER */
/* Footer top */
.ms_footer-top {
    background-color: var(--ms_bkg-color);
}

/* Footer bottom */
.ms_footer-bottom {
    background-color: var(--ms_primary-color);
}